* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
}

/* body {
    overflow: hidden;
} */

.welcome {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: space-between;
    position: fixed;
}

.myLogo {
    margin-top: 8px;
    margin-left: 0.6rem;
    position: relative;
}

.myLogoImg {
    height: 80px;
}

.login-box {
    z-index: 7;
    background: transparent;
    position: absolute;
    right: 10px;
}

.young-pros1 {
    animation: moving 3s ease-in-out;
    font-size: 170px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    z-index: 3;
    background: transparent;
    margin-left: 3rem;
    margin-top: 15%;
}

@keyframes moving {
    0% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(0%);
    }
}

.young-pros2 {
    animation: moving2 3s ease-in-out;
    font-size: 170px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    z-index: 3;
    background: transparent;
    margin-left: 3rem;
}

@keyframes moving2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.young-pros-desc {
    animation: moving3 3s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    background: transparent;
    margin-left: 4rem;
    line-height: 200%;
    z-index: 5;
    letter-spacing: 0.1em;
}

@keyframes moving3 {
    0% {
        transform: translateY(-1200%);
    }
    100% {
        transform: translateY(0%);
    }
}

.bubbles-container {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.intro_layers {
    animation: bubble 5s linear infinite;
    background-image: linear-gradient(to top, #2D6250 0%, #2D6250 100%);
    max-width: 600px;
    position: absolute;
    bottom: -300px;
    right: 20px;
    width: 500px;
    height: 500px;
    z-index: 1;
}

@keyframes bubble {
	0%,
	100% {
		border-radius: 64% 46% 37% 73% / 55% 58% 42% 45%;
	}

	25% {
		border-radius: 43% 47% 47% 38% / 43% 46% 64% 27%;
	}

	50% {
		border-radius: 48% 72% 44% 56% / 49% 40% 60% 51%;
	}

	75% {
		border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
	}
}

/* ---------------- bubble 2 ---------------------- */
.intro_layers2 {

    animation: bubble 7s linear infinite;
    background-image: linear-gradient(to top, #EA3F33 0%, #EA3F33 100%);
    position: absolute;
    max-width: 1000px;
    width: 900px;
    height: 800px;
    z-index: 1;
    left: -150px;
    top: -500px;
    /* transform: translateX(50%); */

}

@keyframes bubble {
	0%,
	100% {
		border-radius: 68% 47% 37% 37% / 68% 47% 37% 37%;
	}

	25% {
		border-radius: 43% 47% 47% 38% / 43% 46% 64% 27%;
	}

	50% {
		border-radius: 48% 72% 44% 56% / 49% 40% 60% 51%;
	}

	75% {
		border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
	}
}

/* ---------------- bubble 3 ---------------------- */
.intro_layers3 {
    animation: bubble 5s linear infinite;
    background-image: linear-gradient(to top, #EA3F33 0%, #EA3F33 100%);
    max-width: 600px;
    position: absolute;
    bottom: -200px;
    left: -200px;
    width: 500px;
    height: 500px;
    z-index: 1;
    /* transform: translateX(-50%); */
}

@keyframes bubble {
	0%,
	100% {
		border-radius: 64% 46% 37% 73% / 55% 58% 42% 45%;
	}

	25% {
		border-radius: 43% 47% 47% 38% / 43% 46% 64% 27%;
	}

	50% {
		border-radius: 48% 72% 44% 56% / 49% 40% 60% 51%;
	}

	75% {
		border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
	}
}

.welcome-fields {
    /* display: flex;
    flex-direction: row; */
    align-items: center;
    background: transparent;
    margin-top: 20px;
    margin-right: 15px;
}

.texts-welcome {
    margin-top: 200px;
}


.login-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 7rem;
    height: 2.3rem;
    letter-spacing: 0.1em;
    background-color: black;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 10px;
}

.bio-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 7rem;
    height: 2.3rem;
    letter-spacing: 0.1em;
    border: none;
    color: black;
    border: 1px solid black;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 10px;
}

.login-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 7rem;
    height: 2.3rem;
    letter-spacing: 0.1em;
    background: transparent;
    color: black;
    /* border: 1px solid black; */
    padding: 0.6rem 2rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    border-radius: 30px;
}

input {
    /* -webkit-appearance: none; */
   outline: none;
   outline-width: 0;
   background: transparent;
   border: none;
    color: black;
    width: 120px;
    margin-right: 5px;
    letter-spacing: 0.1em;
    font-weight: 400;
}

input::placeholder {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

#other-input {
    appearance: checkbox;
    outline: none;
    outline-width: 0;
    background: transparent;
    border: none;
     color: black;
     width: 120px;
     margin-right: 5px;
     letter-spacing: 0.1em;
     font-weight: 400;
}

select {
   outline: none;
   appearance: none;
   border: none;
   background-color: transparent;
   color: black;
   width: 150px;
   height: 50px;
   font-size: 16px;
   letter-spacing: 0.1em;
}

.buttons {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.login-buttons-container {
    display: flex;
    flex-direction: row;
}

.profile-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    overflow: hidden;
    justify-content: space-between;
    }



.bioeditor {
    width: 500px;
    height: 200px;
    margin-left: 50px;
    margin-top: 30px;
}

.bio-text {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    width: 350px;

}


.other-bio-text {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    width: 350px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
}


.chat-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 7rem;
    height: 2.3rem;
    letter-spacing: 0.1em;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 50px;
    text-decoration: none;
}

.wraps-all {
    height: 100vh;
    width: 100%;
}

.uploader-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploader {
    width: 30rem;
    height: 20rem;
    background-color: #fcf4ff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.closeUploader {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: #fcf4ff;
}

.uploader-text {
    background-color: #fcf4ff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin-left: 8rem;
    margin-top: 3rem;
}

.uploader-input {
    margin-left: 5.5rem;
    margin-top: 2rem;
}

header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-right: 0.6rem;
    cursor: pointer;
    border-radius: 50%;
}

#nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0 15px;
    text-decoration: none;
    position: relative;
    color: black;
    letter-spacing: 0.1em;
}



#nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.find-people-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

/* OTHER USER PTOFILE */
.other-avatar {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.profile-avatar {
    position: relative;
    float: left;
}

.profile-avatar img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    margin-left: 3.5rem;
    margin-top: 3rem;
    border-radius: 50%;
}


.profile-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    font-size: 40px;
    margin-left: 3.5rem;
    margin-top: 2rem;
}

.profile-name-bio {
    display: flex;
    flex-direction: column;
}

.textarea {
    display: flex;
    flex-direction: column;
}

textarea {
    height: 8rem;
    width: 11rem;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    width: 350px;
    margin-bottom: 20px;
    border-radius: 10px;
}


.single-friend {
 grid-row: 2/3;
 text-align: center;
 justify-content: center;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.friends-info {
    display: flex;
    flex-direction: row;
}

.friends-avatar {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    margin: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
}

.friends-name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

.chat-text {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800px;
    font-size: 40px;
    margin-left: 3.5rem;
    margin-top: 2rem;
}

.chat-container {
    margin-top: 50px;
    height: 400px;
    width: 700px;
    overflow-y: scroll;
    margin: auto;
    margin-bottom: 0;
}

.chat-box {
    display: grid;
    grid-template-columns: 5rem 13rem 1fr;
    height: 4rem;
    width: inherit;
    justify-content: center;
}

.chat-img {
    grid-column: 1/2;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.chat-name {
    grid-column: 2/3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 3rem;
    background-color: #fef4ff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 0.8rem;
    padding-left: 2rem;
}

.link-to-pm {
    text-decoration: none;
}

.link-to-pm:hover {
    color: magenta;
    text-decoration: none;
}

.post_time {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    background-color: #fef4ff;
    padding-top: 0.2rem;
}

.message {
    height: 3rem;
    background-color: #fef4ff;
    border-radius: 2px;
    padding-top: 0.4rem;
    overflow-y: scroll;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow-x: scroll;
}

.chat-message {
    grid-column: 3/4;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: #fef4ff;
    letter-spacing: 0.1;
}

.search-container {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    height: 600px;
    overflow-x: scroll;
    text-align: center;
}

.find-people-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chat {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: fixed;
    overflow: hidden;
    height: 90vh;
    width: 100%;
}


.big-btn:hover{
    background-position: right center;
    color: #fff;
}
.link-animation {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.intro_layers span.link-animation__hidden {
    color: #000;
}
.link-animation__hidden {
    position: absolute;
    z-index: 2;
    width: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.link-animation__text {
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.intro_layers:hover .link-animation__hidden {
    width: 100%;
}

/* ------------------------------------------------ */
/* Career boards */



.checkbox-container {
    display: flex;
    flex-direction: column;
}

.teachers-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    background-color: white;
    height: 380px;
    width: 240px;
    margin-left: 40px;
    margin-top: 40px;
    border: solid 1px #E5E5E5;
    box-shadow: 3px 3px 3px #e5e5e5;

}

.display-teachers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    width: 90%;
}

.teacher-avatar {
    width: 200px;
    height: 150px;
    margin-left: 20px;
    object-fit: cover;
    top: -2rem;
    left: -2rem;
}

.offer-text {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin-left: 50px;
}

.careerpath-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    position: relative;

}

.path-p {
    width: 70%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

.path-title {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
    font-size: 45px;
}

.career-description {
    height: 20rem;
    margin-top: 80px;
    margin-left: 150px;
    margin-bottom: 20rem;
    width: 100%;
}

.path-description{
    width: 70%;
    margin: 0;
}

.courses-main-container {
    width: 90%;
}

.centers-courses {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.courses-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 37rem;
    width: 90%;
    overflow-y: scroll;
    margin-top: 70px;
    margin: auto;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    width: 500px;
    margin-top: 50px;
}

.list-p {
    margin-left: 20px;
}

.pick-expertise{
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 0, 0, 0.8);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expertise-container {
    width: 40rem;
    height: 30rem;
    background: white;
    opacity: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favcourses-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 50px;
}

.favcourses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 580px;
    height: 580px;
    margin-right: 10px;
}

.favcourses-title {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    width: 200px;
    margin-top: 40px;
    margin-left: 350px;
    margin-bottom: 40px;
    letter-spacing: 0.1em;
}

.description {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.course-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-left: 20px;
    -webkit-filter: grayscale(95%);
}

.course-img:hover {
  -webkit-filter: grayscale(0%);
}

.course-title {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 175px;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 1.5em
}

.course-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    background-color: white;
    height: 250px;
    width: 240px;
    margin-left: 40px;
    margin-top: 40px;
    border: solid 1px #E5E5E5;
    box-shadow: 3px 3px 3px #e5e5e5;

}

.course-header {
    height: 100px;
}

.add-to-fav-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -29px;
    left: -29px;
    background: transparent;
    cursor: pointer;
}

.remove-from-fav-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -29px;
    left: -29px;
    background: transparent;
    cursor: pointer;
}

.remove-from-fav-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -29px;
    left: -29px;
    background: transparent;
    cursor: pointer;
}

.remove-from-fav-icon:hover {
    background: url("boring.png");
}

.boring-icon {
    width: 150px;
    position: absolute;
    shadow: 3px 3px 3px gray;
}

.no-courses-link {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    width: 300px;
    margin-top: 40px;
    /* margin-left: 350px;
    margin-bottom: 40px; */
    letter-spacing: 0.1em;
}

.no-courses-link:visited {
  text-decoration: none;
}

.career-board {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0 15px;
    text-decoration: none;
    position: relative;
    color: black;
    letter-spacing: 0.1em;
}

.boards-container {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
}

.boards-inner-container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: center;
}

.board {
    width: 530px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
    margin: 1.5rem;
    border: solid 1px #efefef;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 4px 7px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    background: white;
    justify-content: center;
    display: flex;
    align-items: center;
}

.board:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.09), 0 6px 12px rgba(0, 0, 0, 0.09);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation: grow 1s linear;
        animation-fill-mode: forwards;
        color: rgba(0, 0, 0, 0)
}

@keyframes grow {
    0% {
        width: 530px;
        height: 150px;
    }
    100% {
        width: 560px;
        height: 220px;
    }
}

#dev-board:hover {
    background-image: url("developer.svg");
}

#smm-board:hover {
    background-image: url("smm.svg");
}

#design-board:hover {
    background-image: url("design.svg");
}

#data-board:hover {
    background-image: url("data.svg");
}

#product-board:hover {
    background-image: url("product.svg");
}

#marketing-board:hover {
    background-image: url("marketing.svg");
}

.board-p {
    letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.blob1 {
    position: absolute;
    width: 1200px;
    left: -600px;
    bottom: -250px;
}

.blob2 {
    position: absolute;
    width: 800px;
    right: -250px;
    top: -300px;
}

.blob3 {
    position: absolute;
    width: 1000px;
    left: -500px;
    top: 450px;
    z-index: -1;
}

.blob7 {
    position: absolute;
    width: 1000px;
    left: -300px;
    top: -400px;
    z-index: -1;
}

.blob6 {
    position: absolute;
    width: 800px;
    right: -400px;
    top: 0px;
    z-index: -1;
}

.tutors-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;

}

.teacher-name {
font-size: 15px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
width: 175px;
margin-top: 10px;
margin-left: 20px;
line-height: 1.5em;
letter-spacing: 0.1;
}

.chat-icon {
    width: 40px;
    height: 40px;
    opacity: 0.7;
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.chat-textarea {

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 500px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 300px;
    line-height: 1.5em;
    letter-spacing: 0.1;
    margin: auto;
}

.teach-prof {

    display: flex;
    flex-direction: column;
}

.offer-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 7rem;
    height: 2.3rem;
    letter-spacing: 0.1em;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 0;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 50px;
}

.checkbox-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 500px;
    margin-top: 100px;
    letter-spacing: 0.1em;
    margin-left: 60px;
}

.checkbox-title2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 500px;
    letter-spacing: 0.1em;
        margin-left: 60px;
        margin-top: 20px;
}

.checkbox-label {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    width: 23rem;
    margin-bottom: 0.8rem;
}

.check {
    width: 23rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.addoffer-text {
    margin-left: 50px;
    height: 50px;
}

.error {
    font-size: 24px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.developer-img {
    width: 200px;
}
