* {
    background-color: white;
    box-sizing: border-box;
    margin: 0;

}

body {
    overflow: hidden;
}

.welcome {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    justify-content: space-between;
    /* align-content: center; */
    /* background-color: #EB6FA0; */
}

.myLogo {
    height: 100px;
    position: relative;
}

.myLogoImg {
    height: 90px;
}

.login-box {
    /* display: flex;
    flex-direction: row; */
    z-index: 7;
    background: transparent;
    position: absolute;
    right: 10px;
}

.young-pros {
    animation: moving 3s ease-in-out;
    font-size: 170px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    z-index: 3;
    background: transparent;
    margin-left: 3rem;
    margin-top: 15%;
}

@keyframes moving {
    0% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(0%);
    }
}

.young-pros-desc {
    animation: moving2 3s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    background: transparent;
    margin-left: 4rem;
    line-height: 200%;
    z-index: 5;
    letter-spacing: 0.1em;
}

@keyframes moving2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.bubbles-container {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}



.intro_layers {
    animation: bubble 5s linear infinite;
    background-image: linear-gradient(to top, #2D6250 0%, #2D6250 100%);
    max-width: 600px;
    position: absolute;
    bottom: -300px;
    right: 20px;
    width: 500px;
    height: 500px;
    z-index: 1;
}

@keyframes bubble {
	0%,
	100% {
		border-radius: 64% 46% 37% 73% / 55% 58% 42% 45%;
	}

	25% {
		border-radius: 43% 47% 47% 38% / 43% 46% 64% 27%;
	}

	50% {
		border-radius: 48% 72% 44% 56% / 49% 40% 60% 51%;
	}

	75% {
		border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
	}
}

/* ---------------- bubble 2 ---------------------- */
.intro_layers2 {

    animation: bubble 7s linear infinite;
    background-image: linear-gradient(to top, #EA3F33 0%, #EA3F33 100%);
    position: absolute;
    max-width: 1000px;
    width: 900px;
    height: 800px;
    z-index: 1;
    left: -150px;
    top: -500px;
    /* transform: translateX(50%); */

}

@keyframes bubble {
	0%,
	100% {
		border-radius: 68% 47% 37% 37% / 68% 47% 37% 37%;
	}

	25% {
		border-radius: 43% 47% 47% 38% / 43% 46% 64% 27%;
	}

	50% {
		border-radius: 48% 72% 44% 56% / 49% 40% 60% 51%;
	}

	75% {
		border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
	}
}

/* ---------------- bubble 3 ---------------------- */
.intro_layers3 {
    animation: bubble 5s linear infinite;
    background-image: linear-gradient(to top, #EA3F33 0%, #EA3F33 100%);
    max-width: 600px;
    position: absolute;
    bottom: -200px;
    left: -200px;
    width: 500px;
    height: 500px;
    z-index: 1;
    /* transform: translateX(-50%); */
}

@keyframes bubble {
	0%,
	100% {
		border-radius: 64% 46% 37% 73% / 55% 58% 42% 45%;
	}

	25% {
		border-radius: 43% 47% 47% 38% / 43% 46% 64% 27%;
	}

	50% {
		border-radius: 48% 72% 44% 56% / 49% 40% 60% 51%;
	}

	75% {
		border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
	}
}

.welcome-fields {
    /* display: flex;
    flex-direction: row; */
    align-items: center;
    background: transparent;
    margin-top: 20px;
    margin-right: 15px;
}

.texts-welcome {
    margin-top: 200px;
}


.login-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 7rem;
    height: 2.3rem;
    letter-spacing: 0.1em;
    background-color: black;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 10px;
}

.login-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 7rem;
    height: 2.3rem;
    letter-spacing: 0.1em;
    background: transparent;
    color: black;
    /* border: 1px solid black; */
    padding: 0.6rem 2rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    border-radius: 30px;
}

input {
    -webkit-appearance: none;
   outline: none;
   outline-width: 0;
   background: transparent;
   border: none;
    color: black;
    width: 120px;
    margin-right: 5px;
    letter-spacing: 0.1em;
    font-weight: 400;
}

input::placeholder {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

select {
   outline: none;
   appearance: none;
   border: none;
   background-color: transparent;
   color: black;
   width: 100px;
   height: 50px;
   font-size: 16px;
   letter-spacing: 0.1em;
}

.buttons {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.login-buttons-container {
    display: flex;
    flex-direction: row;
}

.wraps-all {
    height: 100vh;
    width: 100%;
}

.uploader-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploader {
    width: 30rem;
    height: 20rem;
    background-color: #fcf4ff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.closeUploader {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: #fcf4ff;
}

.uploader-text {
    background-color: #fcf4ff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin-left: 8rem;
    margin-top: 3rem;
}

.uploader-input {
    margin-left: 5.5rem;
    margin-top: 2rem;
}

header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-right: 0.6rem;
    cursor: pointer;
    border-radius: 50%;
}

#small-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    float: left;
    color: white;
    background-color: inherit;
    margin-left: 0.6rem;
}

#nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0 15px;
    text-decoration: none;
    position: relative;
    color: black;
}



#nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.find-people-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

/* OTHER USER PTOFILE */
.other-avatar {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.profile-container {
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid pink; */
}

.profile-avatar {
    position: relative;
}

.profile-avatar img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin: 2rem;
    border-radius: 50%;
}


.profile-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    font-size: 40px;
    margin-top: 1.6rem;
    margin-left: 2rem;
}

.profile-name-bio {
    display: flex;
    flex-direction: column;
}

.textarea {
    display: flex;
    flex-direction: column;
}

textarea {
    height: 10rem;
    width: 8.9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.friends-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;
}

.friends-list {
    display: grid;
    grid-auto-rows: 2rem 20rem;
    justify-content: start;
    grid-column-gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 90%;
    overflow-x: scroll;
}

.friend-text {
    grid-row: 1/2;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 11.5rem;
    color: #e2b0dc;
    border-bottom: 1px solid #e2b0dc;
}

.single-friend {
 grid-row: 2/3;
 text-align: center;
 justify-content: center;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.friends-info {
    display: flex;
    flex-direction: row;
}

.friends-avatar {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    margin: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
}

.friends-name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

.chat-container {
    height: 400px;
    width: 700px;
    overflow-y: scroll;
}

.chat-box {
    display: grid;
    grid-template-columns: 5rem 13rem 1fr;
    height: 4rem;
    width: inherit;
    justify-content: center;
}

.chat-img {
    grid-column: 1/2;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.chat-name {
    grid-column: 2/3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 3rem;
    background-color: #fef4ff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 0.8rem;
    padding-left: 2rem;
}

.link-to-pm {
    text-decoration: none;
}

.link-to-pm:hover {
    color: magenta;
    text-decoration: none;
}

.post_time {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    background-color: #fef4ff;
    padding-top: 0.2rem;
}

.message {
    height: 3rem;
    background-color: #fef4ff;
    border-radius: 2px;
    padding-top: 0.4rem;
    overflow-y: scroll;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow-x: scroll;
}

.chat-message {
    grid-column: 3/4;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fef4ff;
}

.search-container {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    height: 600px;
    overflow-x: scroll;
    text-align: center;
}

.find-people-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.big-btn:hover{
    background-position: right center;
    color: #fff;
}
.link-animation {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.intro_layers span.link-animation__hidden {
    color: #000;
}
.link-animation__hidden {
    position: absolute;
    z-index: 2;
    width: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}
.intro_layers h3 {
    color: #E91E63;
}
.link-animation__text {
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.intro_layers:hover .link-animation__hidden {
    width: 100%;
}

/* ------------------------------------------------ */
/* Career boards */

.boards-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.board {
    width: 200px;
    height: 250px;
    border: 1px solid black;
    cursor: pointer;
    margin: 1.5rem;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.teachers-container {
    width: 300px;
    height: 300px;
    border: 1px solid magenta;
    margin: 1.5rem;

}

.display-teachers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.teacher-avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.offer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.career-description {
    height: 20rem;
}

.path-description{
    width: 70%;
}

.pick-expertise{
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expertise-container {
    width: 30rem;
    height: 20rem;
    background: white;
    opacity: 1;
}

.courses-container {
    display: flex;
    flex-direction: row;
    width: 70rem;
    overflow: scroll;
}

.course-img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
}

.course-title {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.course-item {
    margin: 1rem;
    position: relative;
}

.add-to-fav-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -15px;
    left: -15px;
    background: transparent;
    cursor: pointer;
}
